[submodule "apt"]
	path = apt
	url = https://github.com/chef-cookbooks/apt.git
[submodule "packagecloud"]
	path = packagecloud
	url = https://github.com/computology/packagecloud-cookbook
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/chef-cookbooks/yum-epel.git
[submodule "runit"]
        path = runit
        url = https://github.com/chef-cookbooks/runit.git
[submodule "container_baseimage"]
	path = container_baseimage
	url = https://github.com/mjonuschat/chef_container_baseimage.git
[submodule "container_passenger"]
	path = container_passenger
	url = https://github.com/mjonuschat/chef_container_passenger.git
[submodule "container_rails"]
	path = container_rails
	url = https://github.com/mjonuschat/chef_container_rails
[submodule "container_opensmtpd"]
	path = container_opensmtpd
	url = https://github.com/mjonuschat/chef_container_opensmtpd
